img {
    width: 110px;
    height: auto;
    float: left;
    margin-right: 30px;
    display: flex;
}

h1 {
    text-align: center;
    background: linear-gradient(
        90deg,
       #ff6bcb,
        #ff9f68,
        #ffe66d,
        #7bed9f,
        #70a1ff,
        #a78bfa
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.dev {
    margin-left: 120px;
    margin-top: -129px;
    background-color: #dcdbdb;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #b4b3b3;
    animation: chatBubble 1s ease-out forwards;
}

@keyframes chatBubble {
    0% {
        opacity: 0;
        transform: translate(80px, 50px) scale(0.8);
    }

    70% {
        opacity: 1;
        transform: translate(-10px, -5px) scale(1.02);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }
}

footer{
    margin-top: auto;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    gap: 20px;
}